.bold {
  font-weight: bold;
}

.muted {
  @extend .text-muted;  
}

.border-bottom {
  border-bottom: $base-border;
}

.border-top {
  border-top: $base-border;
}

.center-button {
  display: flex;
  justify-content: center;
}

.login {
  width: 600px;
  padding: 0 60px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.registration {
  @extend .login;
}

.app-flash {
  padding-bottom: 60px;
}
