<div class="row border bold bg-light">
  <div class="border-right px-3">
    SEDE
  </div>
  <div class="col border-right">
    Nombre
  </div>
  <div class="col border-right">
    Clasificación
  </div>
  <div class="col border-right">
    Estatus
  </div>
  <div class="col border-right">
    Teléfono
  </div>
</div>
