<div class="login">
  <h1 class="text-center bold">País Nuevo</h1>

  <%= simple_form_for @country, url: countries_path(@country), remote: true do |f| %>
    <%= f.error_notification %>

    <%= f.input :name, label: 'Nombre del País', placeholder: 'México' %>
    
      <%= f.submit 'Crear', class: 'btn btn-success bold' %>
  <% end %>
</div>
