<div class="login">
  <h1 class="text-center bold">AEC</h1>

  <%= simple_form_for Country.new, as: :country, url: new_country_path(resource_name), remote: true do |f| %>
    <%= devise_error_messages! %>

    <%= f.input :name, placeholder: 'aa', input_html: { autocomplete: 'email' } %>
    
      <%= f.submit 'Entrar' %>
  <% end %>
</div>
