<div class="card mg-5">
  <h3 class="card-header text-white bg-primary bold">Grupo</h3>
  <div class="card-body">
    
  </div>
</div>

<div class="card mg-5">
  <h3 class="card-header text-white bg-success bold">Seleccionar Grupo</h3>
  <div class="card-body">
    
  </div>
</div>

<div class="card mg-5">
  <h3 class="card-header text-white bg-info bold">Gráficas</h3>
  <div class="card-body">
    
  </div>
</div>